.home {
  min-height: calc(100vh - 60px);
  align-items: center;
  display: flex;
  background-color: #21325e;
  padding-top: 120px;
}

.about {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #e9d35b;
  height: 50px;
}

.about .prompt {
  width: 80%;
  font-size: 20px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

