.home {
  min-height: calc(100vh - 60px);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}

.about {
  background-color: #4F0341;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #e9d35b;
  height: 50px;
}

.about .prompt {
  padding-top: 20px;
  width: 100%;
  font-size: 20px;
}
.prompt svg {
  padding-top: 20px;
  font-size: 60px;
  margin: 5px;
  color: white;
}

